* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

.container {
    background-color: aquamarine;
    padding: 3rem;

    width: 100%;
    margin: auto;
}

.cell {
    width: calc(100% / 10);
    aspect-ratio: 1;


    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: #a8a8a8;
    box-shadow: -2px -2px #bcbcbc, -2px 0 #bcbcbc, 0 -2px #bcbcbc, -4px -4px rgb(220, 220, 220), -4px 0 rgb(220, 220, 220), 0 -4px rgb(220, 220, 220), 2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #bcbcbc, -2px 2px #818181, -4px 2px rgb(220, 220, 220), -4px 4px rgb(42, 42, 42), 4px 4px rgb(42, 42, 42), 4px 0 rgb(42, 42, 42), 0 4px rgb(42, 42, 42), 2px -4px rgb(220, 220, 220), 4px -4px rgb(42, 42, 42);
}

.active {
    background-color: rgb(202, 202, 202);

    box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px rgb(42, 42, 42), -4px 0 rgb(42, 42, 42), 0 -4px rgb(42, 42, 42), 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede, 2px -2px #818181, -2px 2px #e0dede, -4px 2px rgb(42, 42, 42), -4px 4px white, 4px 4px white, 4px 0 white, 0 4px white, 2px -4px rgb(42, 42, 42), 4px -4px white;
}

.bomb {
    background-color: rgb(160, 56, 56);
}

.hidden {}

#play_button {

    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

#play_button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

#difficulty {
    /* appearance: none; */
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 10px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}